.root {
    -fx-background-color: linear-gradient(to bottom, #ffffff, #ffffcc);
    -fx-font-family: "Inter";
}

/* HEADER */
.header {
    -fx-padding: 15;
    -fx-background-color: linear-gradient(to right, #4facfe, #00f2fe);
    -fx-alignment: center-left;
    -fx-spacing: 20;
}

.header-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.button-logout {
    -fx-background-color: #ff4d4d;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
    -fx-cursor: hand;
}

.button-logout:hover {
    -fx-background-color: #cc0000;
}

/* MAIN CONTENT */
.content {
    -fx-spacing: 25;
    -fx-padding: 30;
}

.section-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.button-primary {
    -fx-background-color: #2F64F9;
    -fx-text-fill: white;
    -fx-padding: 8 18;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
    -fx-cursor: hand;
}

.button-primary:hover {
    -fx-background-color: #1d4ed8;
}
